{% extends "index.html" %}

{% block content %}
<div id="basics" class="container-4 col-sm-8 text-center"> 
  <div class="content-container">
    <div class="text-section">
      <h1>Composting Basics</h1>
      <p>Learn the essential elements that make a successful composting process.</p>
      <hr>
      <div id="content" class="container-4 col-sm-8 text-left">
      <h2>What is Composting?</h2>

      <p>Composting is a managed, oxygen-requiring procedure that transforms organic substances into a nutrient-dense, biologically consistent soil enhancer via natural breakdown. The final outcome is compost. During the composting phase, microorganisms consume the substances introduced to the compost heap. They use carbon and nitrogen for growth and reproduction, water for digesting substances, and oxygen for respiration.</p>
      <p>You can perform composting at your residence using leftover food scraps from your kitchen and dry foliage and wooden debris from your garden.</p>
    </div>
    <div class="image-section">
      <img src="path_to_your_composting_image.png" alt="Composting">
    </div>
  </div>
  </div>


</div>
{% endblock %}

