{% extends 'index.html' %}

{% block content %}

<div class="row align-items-center justify-content-center gap-5">
    <div class="col-md-4">
        <p class="subtitle">overview</p>
        <h1>What's Composting?</h1>
        <div class="paragraph">
        <p>Composting is a managed, oxygen-requiring procedure that transforms organic substances into a nutrient-dense, biologically consistent soil enhancer via natural breakdown. The final outcome is compost. </p>
        <p>During the composting phase, microorganisms consume the substances introduced to the compost heap. They use carbon and nitrogen for growth and reproduction, water for digesting substances, and oxygen for respiration.</p>
        <p>You can perform composting at your residence using leftover food scraps from your kitchen and dry foliage and wooden debris from your garden.</p>
    </div>
    <div class="nextbtn">
        <a href="/why-compost" class="btn btn-primary">Learn Why You Should Compost</a>
    </div>
    </div>
    <div class="col-md-6">
      <img src="static/home.png" class="img-fluid" alt="Composting Image">
    </div>
  </div>
{% endblock %}








