{% extends 'index.html' %}

{% block content %}

<div class="row align-items-center justify-content-center gap-5">
    <div class="col-md-4">
        <p class="subtitle">overview</p>
        <h1>What's Composting?</h1>
        <div class="paragraph">
           <p>Composting is a process where organic materials are broken down naturally by microorganisms, turning them into nutrient-rich soil via natural decomposition. This happens as microorganisms use carbon, nitrogen, water, and oxygen to break down materials. You can do composting at home using kitchen scraps and garden waste.</p> 
    </div>
    <div class="nextbtn">
        <a href="/why-compost" class="btn btn-primary">Learn Why You Should Compost</a>
    </div>
    </div>
    <div class="col-md-6">
      <img src="static/compost.jpg" class="img-fluid" alt="Realistic Image of Compost">
    </div>
  </div>
{% endblock %}








