{% extends 'index.html' %}

{% block content %}
<div class="center-screen">
    <div class="container mt-5">
        <h1>6. What can you do with finished compost?</h1>
        <form action="/quiz6" method="post">
            <div class="col-lg-12">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question6" id="optionA" value="A">
                    <label class="form-check-label" for="optionA">A. Sell it at a market</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question6" id="optionB" value="B">
                    <label class="form-check-label" for="optionB">B. Use it as a mulch</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question6" id="optionC" value="C">
                    <label class="form-check-label" for="optionC">C. Throw it away</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question6" id="optionD" value="D">
                    <label class="form-check-label" for="optionD">D. Store it indefinitely</label>
                </div>
            </div>
            <div class="mt-5">
                <button type="submit" class="btn btn-primary">Next</button>
            </div>
        </form>
    </div>
    {% if error %}
<div class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endif %}
</div>

{% endblock %}

