{% extends 'index.html' %}

{% block content %}
<div class="center-screen">
    <div class="container mt-5">
        <h1>4. Which of the following should NOT be included in a compost bin?</h1>
        <form action="/quiz4" method="post">
            <div class="col-lg-12">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question4" id="optionA" value="A">
                    <label class="form-check-label" for="optionA">A. Sawdust from untreated wood</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question4" id="optionB" value="B">
                    <label class="form-check-label" for="optionB">B. Tea leaves</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question4" id="optionC" value="C">
                    <label class="form-check-label" for="optionC">C. Coal ash</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question4" id="optionD" value="D">
                    <label class="form-check-label" for="optionD">D. Eggshells</label>
                </div>
            </div>
            <div class="mt-5">
                <button type="submit" class="btn btn-primary">Next</button>
            </div>
        </form>
    </div>
    {% if error %}
<div class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endif %}
</div>
{% endblock %}

