{% extends 'index.html' %}

{% block content %}

<div class="row align-items-center justify-content-center gap-5">
    <div class="col-md-4">
        <h1>Welcome to</h1>
        <h1 class="composting-text">Composting 101</h1>
        <p>"Composting 101" is an informative platform guiding users through the art of composting, offering insights into the process, its benefits, and practical tips for creating nutrient-rich soil amendments from organic waste materials.</p>
      <a href="/overview" class="btn btn-primary">Get Started</a>
    </div>

    <div class="col-md-6">
      <img src="static/home.png" class="img-fluid" alt="Composting Image">
    </div>
  </div>
{% endblock %}

