{% extends "index.html" %}

{% block content %}
<div class="wrapper-container">
    <div class="inner-container container-fluid text-center">    
      <div class="container-3 row content">
        <div class="container-4 col-sm-8 text-center"> 
          <h2>How to Compost</h2>
          <p>A comprehensive platform for teaching you the ins and outs of composting</p>
          <hr>
          <h2>Our Promise</h2>
          <p>We guarantee a better understanding of the composting process after spending only 10 minutes on our website.</p>
          <hr>
          <h2>Navigating the website</h2>
          <p>Go through each tab starting with the “Basics” to get an overview of composting until you reach the “Quiz” tab which will test your knowledge after going through all the provided materials.</p>
        </div>
      </div>
    </div>
    </div>
    {% endblock %}
