{% extends 'index.html' %}

{% block content %}

<div class="row align-items-center justify-content-center gap-5">
    <div class="col-md-4">
        <h1 class="composting-text">Composting 101</h1>
        <p>
            Learn about composting, including its benefits, process, and tips for turning organic waste into nutrient-rich soil amendments.</p>
      <a href="/overview" class="btn btn-primary">Get Started</a>
    </div>

    <div class="col-md-6">
      <img src="static/home.png" class="img-fluid" alt="Composting Image">
    </div>
  </div>
{% endblock %}

