{% extends 'index.html' %}


{% block content %}


<div class="row align-items-center justify-content-center gap-5">
    <div class="col-md-5">

        <p class="subtitle">what to compost</p>
        <h1>What to NOT Compost</h1>

        <div class="paragraph">
            <ul>
                <li>Aggressive weeds/weeds with seeds</li>
                <li>Diseased and pest-infested plants</li>
                <li>Treated or painted wood</li>
                <li>Pet waste and cat litter</li>
                <li>Dryer lint</li>
                <li>Glossy paper</li>
                <li>Produce stickers</li>
                <li>Meat, fish, and bones</li>
                <li>Cheese and dairy products</li>
                <li>Fats, oils, and grease</li>
                <li>Cooked food (small amounts are fine)</li>
                <li>Compostable food service ware and compostable bags</li>
                <li>Herbicide-treated plants and grass</li>
            </ul>
    </div>
    </div>
    <div class="col-md-5">
      <img src="static/no.png" class="img-fluid" alt="What NOT to Compost and What to Compost Image">
    </div>
  </div>

  <div class="button-container d-flex justify-content-between">
    <div class="nextbtn text-left">
        <a href="/what-to-compost" class="btn btn-primary">Go Back to What You Can Compost</a>
    </div>
    <div class="nextbtn text-right">
        <a href="/how-to-compost" class="btn btn-primary">Learn How to Compost</a>
    </div>

    
    
{% endblock %}

